<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FolderPath" value="uploads/Advertisements"/>
    <add key="FolderEventPath" value="uploads/Events"/>
    <add key="FolderArticlePath" value="uploads/Articles"/>
    <add key="FolderPathDocuments" value="uploads/Documents"/>
    <add key="FolderPathSponsor" value="uploads/Sponsors"/>
    <add key="FolderPathSlider" value="uploads/Slider"/>
    <add key="FolderPathSiteGallery" value="uploads/Gallery"/>
    <add key="FolderEventProfilePath" value="uploads/Events/Profile"/>
    <add key="FolderPathSliderDynamic" value="uploads/SliderDynamic"/>
    <add key="FolderPathSiteGalleryHome" value="uploads/Home/1"/>
    <add key="FolderPathSiteGalleryHome1" value="uploads/Home/2"/>
    <add key="FolderLinkPath" value="uploads/Links"/>
    <add key="Mail_Server" value="smtpout.secureserver.net"/>
    <add key="Mail_Port" value="25"/>
    <add key="SmtpHost_UserName" value="info@baldate.com"/>
    <add key="SmtpHost_Password" value="987654321"/>
    <add key="Gmail_Server" value=" smtpout.secureserver.net"/>
    <add key="Gmail_SmtpHost_UserName" value="info@baldate.com"/>
    <add key="Gmail_SmtpHost_Password" value="987654321"/>
    <add key="Administrator_Contact" value="info@baldate.com"/>
    <add key="NewsLetter_From" value="info@baldate.com"/>
    <add key="BCCOwnerEmail" value="info@baldate.com"/>
    <add key="EnableErrorLogEmail" value="true"/>
    <add key="ErrorLogEmail" value="info@baldate.com"/>
    <add key="UnSubscribeLink" value="http://www.baldate.com/ManageSubscription.aspx"/>
    <add key="Site_IP" value="http://www.baldate.com/Default.aspx"/>
    <add key="contact_phone" value=" 220 325 07"/>
    <add key="contact_cell" value="210 325 07 "/>
    <add key="fax" value=" 665 325 07"/>
    <add key="email" value="info@baldate.com"/>
    <add key="address1" value=" "/>
    <add key="address2" value="  "/>
    <add key="address3" value=""/>
    <add key="user1" value="reporter"/>
    <add key="password1" value="password"/>
    <add key="Domain_Name" value="@baldate.com"/>
    <add key="rel_email" value="dontreplymail@baldate.com"/>
    <add key="rel_owner" value="info@baldate.com"/>
    <add key="Site_Name" value="baldate"/>
    <add key="max_Event_Image" value="20"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="OmsarDbConnectionString" connectionString="Data Source=.;Initial Catalog=BaldateeOnline;Integrated Security=True"
   providerName="System.Data.SqlClient" />
    <add connectionString="server=.; database=BaldateeOnline; Integrated Security=True" name="ConString" providerName="System.Data.SqlClient"/>-->

    <add name="ConString" connectionString="Data Source=Baldatee.db.10209401.hostedresource.com;Initial Catalog=Baldatee;User ID=Baldatee; Password=Baldatee@2014;
   Connection Timeout=15;Connection Lifetime=0;Min Pool Size=0;Max Pool Size=100;Pooling=true;" providerName="System.Data.SqlClient" />
    <add name="OmsarDbConnectionString" connectionString="Data Source=Baldatee.db.10209401.hostedresource.com;Initial Catalog=Baldatee;User ID=Baldatee; Password=Baldatee@2014;
   Connection Timeout=15;Connection Lifetime=0;Min Pool Size=0;Max Pool Size=100;Pooling=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <httpErrors errorMode="Detailed"/>
    <asp scriptErrorSentToBrowser="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="CuteEditor.UploadModule" type="CuteEditor.UploadModule,CuteEditor"/>
    </modules>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00"/>
    </staticContent>
  </system.webServer>
  <system.web>
    <sessionState timeout="2880"/>
    <customErrors mode="Off"/>
    <pages validateRequest="false"/>
    <trust level="Full"/>
    <membership>
      <providers>
        <remove name="AspNetSqlMembershipProvider"/>
        <add name="AspNetSqlMembershipProvider" connectionStringName="OmsarDbConnectionString" applicationName="EyeBaldate" type="System.Web.Security.SqlMembershipProvider" requiresUniqueEmail="false" requiresQuestionAndAnswer="false" passwordStrengthRegularExpression="" passwordFormat="Hashed" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>