 #slider2
    {
        width: 650px; /* important to be same as image width */
        height: 300px; /* important to be same as image height */
        position: relative; /* important */
        overflow: hidden; /* important */
        margin-right:5px;
    }
    
    #slider2Content
    {
       width: 650px; /* important to be same as image width or wider */
        position: absolute;
        left: 0;
        margin-right: 0;
    }
    .slider2Image
    {
        float: left;
        position: relative;
        display: none;
    }
    .slider2Image span
    {
        margin-top: 5px;
        position: absolute;
        font: 10px/15px Arial, Helvetica, sans-serif;
        padding: 10px 0px;
        width: 650px;
        color: #fff;
        display: none;
    }
      .slider2Image span a
    {
        color: #fff;
    }
    .clear
    {
        clear: both;
    }
    .slider2Image span strong
    {
        font-size: 14px;
    }
    .left1
    {
       bottom: 0;
        left: 0;
        width: 650px !important;
        height: 40px;
        z-index: 1000;
        background-color: #000;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
    }
    .right
    {
        right: 0;
        bottom: 0;
        width: 90px !important;
        height: 270px;
        z-index: 1000;
    }
    ul
    {
        list-style-type: none;
        margin:0;
    }